* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: rgb(110, 74, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App {
  min-width: 800px;
  /*text-align: center;*/
}

